<?xml version="1.0"?>
<config>
    <modules>
        <FreeLunchLabs_MailGun>
            <version>1.0.1</version>
        </FreeLunchLabs_MailGun>
    </modules>
    <global>
        <models>
            <freelunchlabs_mailgun>
                <class>FreeLunchLabs_MailGun_Model</class>
                <resourceModel>freelunchlabs_mailgun_resource</resourceModel>
            </freelunchlabs_mailgun>
            <core>
                <rewrite>
                    <email_template>FreeLunchLabs_MailGun_Model_Email_Template</email_template>
                </rewrite>
            </core>
            <freelunchlabs_mailgun_resource>
                <class>FreeLunchLabs_MailGun_Model_Resource</class>
                <entities>
                    <email>
                        <table>mailgun_email_tracking</table>
                    </email>
                    <event>
                        <table>mailgun_email_tracking_event</table>
                    </event>
                </entities>
            </freelunchlabs_mailgun_resource>
        </models>
        <resources>
            <mailgun_setup>
                <setup>
                    <module>FreeLunchLabs_MailGun</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mailgun_setup>
            <mailgun_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mailgun_write>
            <mailgun_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mailgun_read>
        </resources>
        <helpers>
            <mailgun>
                <class>FreeLunchLabs_MailGun_Helper</class>
            </mailgun>
        </helpers>
        <blocks>
            <freelunchlabs_mailgun>
                <class>FreeLunchLabs_MailGun_Block</class>
            </freelunchlabs_mailgun>
        </blocks>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <freelunchlabs_mailgun before="Mage_Adminhtml">FreeLunchLabs_MailGun_Adminhtml</freelunchlabs_mailgun>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <customer>
                <children>
                    <cloudfront translate="title" module="mailgun">
                        <title>Email Tracking</title>
                        <sort_order>9999</sort_order>
                        <action>adminhtml/emailtracking</action>
                    </cloudfront>
                </children>
            </customer>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <mailgun translate="title" module="mailgun">
                                            <title>MailGun Configuration</title>
                                            <sort_order>50</sort_order>
                                        </mailgun>
                                    </children>
                                </config>
                                <emailtracking>
                                    <title>Email Tracking</title>
                                    <sort_order>70</sort_order>
                                </emailtracking>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <mailgun>
                    <file>mailgun.xml</file>
                </mailgun>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <mailgun>
            <general>
                <active>0</active>
                <tag>magento-store</tag>
            </general>
            <events>
                <store>1</store>
                <days>30</days>
                <clicks>1</clicks>
                <opens>1</opens>
            </events>
        </mailgun>
    </default>
    <crontab>
        <jobs>
            <freelunchlabs_purgelogs>
                <schedule>
                    <cron_expr>0,15,30,45 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>freelunchlabs_mailgun/email::deleteEmailTrackingLogsDays</model>
                </run>
            </freelunchlabs_purgelogs>
            <freelunchlabs_processevents>
                <schedule>
                    <cron_expr>0,15,30,45 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>freelunchlabs_mailgun/mailgun::processEmailEventsForAllStores</model>
                </run>
            </freelunchlabs_processevents>
        </jobs>
    </crontab>
</config>